{% extends "base1.html" %} 
{% load staticfiles %}
{% block username %}{{ who }} {% endblock %} 
{% block linkstyling %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/audio.css' %}">
{% endblock %}
{% block yellow %}
<nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color: #FFED75;">
    <div class="container" style="color: #B51714 !important;">
        <ul class="nav justify-content-start">
            <li class="nav-item" style="margin-left: -12px;">
                <a href="#" class="nav-link"><img src="https://img.icons8.com/fluent/30/000000/list.png" /></a>
            </li>
            <li class="nav-item" style="margin-left: -20px; color:#B51714 !important; font-weight: 900; font-size: 20px;">
                <a style="color:#B51714 !important;" href="#" class="nav-link">ENTER COMPLAINT DETAILS</a>
            </li>
        </ul>
        <ul class="nav justify-content-end ml-auto">
            <li class="nav-item ">
                <a style="color:#B51714 !important;" class="nav-link" href="/crimefiles/">Go Back</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock%} 

{% block complaint_details %}
        <div class="container mt-2" style="margin-top:50px;margin-left:270px;background:#f7f7f9; width:900px; padding-top:15px; padding-left:20px; padding-bottom:50px;border-radius:50px;">
            <form method="POST" action="">
                {% csrf_token %}
                <!-- Complainant details -->
                <div class="m-2 form-group">
                    <label for="fname">Your Full Name :</label>
                    <input type="text" placeholder="Full name" required name="nameofcomplainant" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Your Address :</label>
                    <input type="text" placeholder="Address" required name="addressofcomplainant" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Your Email Address:</label>
                    <input type="email" placeholder="abc@example.com" required name="email" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Your Phone Number</label>
                    <input type="text" placeholder="Phone Number" required name="phone" class="form-control">
                </div>
                <!-- Briefof offence -->
                <div class="m-2 form-group">
                    <label for="fname">Type of Incidence Happend (Theft, Murder, Rape, etc.)</label>
                    <input type="text" placeholder="type of crime" name="typeofincidence" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Your Role in Incidence(Victim, Witness, Heresay...)</label>
                    <input type="text" placeholder="Your Role" name="roleofcomplainant" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Date and Time of Incidence</label>
                    <input type="text" placeholder="date time of incidence" name="datetimeofcrime" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">Place of Incidence</label>
                    <input type="text" placeholder="place where incidence occurs" name="placeofincidence" class="form-control">
                </div>
                <div class="m-2 form-group">
                    <label for="fname">More Description of Crime</label>
                    <textarea placeholder="Add some more description if Incidence(optional)" rows="3" name="descriptionofcrime" class="form-control"></textarea>
                </div>
                <div class="m-1 form-group">
                    <label for="fname">Name of Suspect : </label>
                    <input type="text" placeholder="Information about criminal" name="nameofsuspect" class="form-control">
                </div>
                <div class="m-1 form-group">
                    <label for="fname">Address of Suspect : </label>
                    <input type="text" placeholder="Information about victim" name="addressofsuspect" class="form-control">
                </div>
                <div class="m-1 form-group">
                    <label for="fname">Details  of Suspect : </label>
                    <input type="text" placeholder="Information about victim" name="detailsofsuspect" class="form-control">
                </div>

                <label>Please Record your Statement</label>
                <div id="controls">
                    <button id="recordButton">Record</button>
                    <button id="pauseButton" disabled>Pause</button>
                    <button id="stopButton" disabled>Stop</button>
                </div>
                <div id="formats">Format: start recording to see sample rate</div>
                <p><strong>Recordings:</strong></p>
                <ol id="recordingsList"></ol>

                <button type="submit" class="ml-1 mt-2 mb-4 btn btn-primary">Confirm Complaint</button>
            </form>
        </div>
{% endblock %}


{% block scripts %}
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{% static 'js/audiocomplaint.js' %}" ></script>
{% endblock %}
