{% extends "base1.html" %}
{% block username %}{{ who }} {% endblock %}
{% block yellow %}
<nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color: #FFED75;">
    <div class="container" style="color: #B51714 !important;">
        <ul class="nav justify-content-start">
            <li class="nav-item" style="margin-left: -12px;">
                <a href="#" class="nav-link"><img src="https://img.icons8.com/fluent/30/000000/list.png" /></a>
            </li>
            <li class="nav-item" style="margin-left: -20px; color:#B51714 !important; font-weight: 900; font-size: 20px;">
                <a style="color:#B51714 !important;" href="#" class="nav-link">ADD COURT PROCEEDINGS</a>
            </li>
        </ul>
        <ul class="nav justify-content-end ml-auto">
            <li class="nav-item ">
                <a style="color:#B51714 !important;" class="nav-link" href="/crimefiles/complaint_list/">Go Back</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock%} 
{% block complaint_details %}
<div class="container mt-3 formm" style="margin-top:50px;margin-left:420px;background:#f7f7f9; width:700px; padding-top:20px; padding-left:80px; padding-bottom:20px;border-radius:50px;">
    <form method='POST' enctype="multipart/form-data" action=''>{% csrf_token %}
        <span>Name of Court: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.courtname }}<br>
        <span>Enter Case Number: </span>{{ form.casenumber }} <br>
        <span>Title of Update: </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.title_of_update }}<br>
        <span>Some Description: </span><br>{{ form.description }} <br>
        {{ form.evidence}}
        <br><br>
        <input type='submit' style="width:300px;" class="btn btn-success" value='Update Current procceding' />
    </form>
</div>
{% endblock %}