<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="row" align="center" style="width: 100%">
	<h1 align="center" style="margin-left: 50px; margin-top: 5px; margin-bottom: -10px;"> Plot of the total number of crimes against women in India over the years </h1>
	<a style="color: blue; font-size: 20px; margin-left: 85px; margin-top: 17px; margin-bottom: -2px;" href="/crimefiles/">Go Back</a>
</div>

<hr>
<iframe width="1500" height="600" frameborder="0" scrolling="no" src="//plot.ly/~Sangarshanan/38.embed"></iframe>
